<!DOCTYPE html>
<html>
  <head>
    <title>vue-ssr-used-hypernova</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
    <%= webpack_js_tag "main" %>
  </body>
</html>
